@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
body {
  font-family: "Ubuntu Sans", sans-serif;
  background-color: #131316;
  margin: 0;
  padding: 0;
}
h1 {
  color: aliceblue;
  text-align: center;
}
h3 {
  color: aquamarine;
}
p {
  color: azure;
  padding: 0 15%;
}
.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: aqua;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

article {
  display: grid;
  place-items: center;
  position: relative;
  height: auto;
  overflow-x: clip;
  padding-block: 30px;
  margin-block-end: 30px;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
.img-hanna img {
  width: auto;
  height: 350px;
}
.article-header {
  display: grid;
  place-items: center;
  position: relative;
  height: 100svh;
  overflow-x: clip;
  padding-block: 50px;
  margin-block-end: 50px;
}
.header-content {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}
.header-image {
  grid-column: 1/-1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  /* transform-origin: top; */
  object-fit: cover;
  z-index: -1;
  animation: header-image-animation linear forwards;
  animation-timeline: view();
  animation-range: exit;
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes header-image-animation {
  25% {
    opacity: 0.5;
  }
  85%,
  100% {
    opacity: 0;
    scale: 3;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .img-hanna {
    opacity: 0;
    scale: 0.8;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 200px;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
